.body {
    margin: 0;
}

.checkboxes {
    background-color: cornflowerblue;
    margin-bottom: 15px;
}

.timepredictor {
    background-color: darkseagreen;
    margin: auto;
    text-align: center;
}